# * Please add your email and password after the equal sign
# ! Don't forget to change the file name from ".env.example" to ".env"

# Login
EMAIL=
PASSWORD=

# Settings
PRICE=15
DELAY=1000
IS_HEADLESS=true

BASE_WIKI_URI=https://warframe.fandom.com/
WFM_ITEMS_PATH=https://raw.githubusercontent.com/42bytes-team/wfm-items/refs/heads/master/tracked/items/
GITHUB_FETCH_DELAY=1000
